@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  font-family: "Barlow Condensed", sans-serif;
  a {
    text-decoration: none;
    color: black;
  }
}

.header {
  h1 {
    margin: 0;
    padding-bottom: 10px;
    font-size: 7em;
  }
  nav {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    ul {
      padding: 0;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
    :nth-child(1) {
      justify-self: end;
      padding-right: 25px;
    }
    :nth-child(2) {
      padding-left: 25px;
    }
    li {
      list-style: none;
      font-size: 4em;
      :hover {
        text-decoration: underline;
      }
    }
  }
}
.animals {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  .animalsDisplayAnimal {
    display: grid;
    justify-items: center;
    margin: 10px;
    padding: 0 50px;
    border-radius: 5%;
    border: 1px solid black;
    .animalsImg {
      object-fit: scale-down;
    }
    .isFull {
      color: green;
    }
    .isHungry {
      color: red;
    }
  }
}
.starvingAnimals {
  display: flex;
  gap: 20px;
  .starvingAnimalsAnimal {
    padding: 10px 0;
    .starvingAnimalLink {
      color: red;
    }
  }
}
.isStarving {
  color: red;
}
